*.py[cod]
*.so
*.egg
*.egg-info/
dist/
output_setup/
build/
__pycache__/
venv/
*.venv
env/
*.env
.idea/
.vscode/*
!.vscode/tasks.json
*.swp
*~
*.log
.DS_Store
Thumbs.db
*.db
*.sqlite3
.htmlcov/
tests/
*.tmp
*.temp
basilisk_config.yml
*.pot
*.mo
