*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
__pycache__/
venv/
*.venv
env/
*.env
.idea/
.vscode/
*.swp
*~
*.json
*.log
.DS_Store
Thumbs.db
*.db
*.sqlite3
.htmlcov/
tests/
*.tmp
*.temp
basilisk_config.yml
