ci:
    autofix_commit_msg: |
        style(pre-commit.ci): auto fixes from pre-commit hooks

        for more information, see https://pre-commit.ci
    autoupdate_branch: ''
    autoupdate_commit_msg: 'ci(deps): pre-commit autoupdate'
    autoupdate_schedule: weekly
    skip:
      - "ruff-check"
      - "uv-lock"
default_language_version:
  python: python3.14
default_stages:
  - "pre-commit"
default_install_hook_types:
  - "pre-commit"
  - "commit-msg"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: '^(.+\.md|LICENSE)$'
      - id: mixed-line-ending
        args:
          - "--fix=lf"
      - id: check-toml
      - id: check-yaml
      - id: check-ast
-   repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.3
    hooks:
      - id: uv-lock
        files: "^(pyproject.toml|uv.lock)$"
        always_run: false
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.13.7
    hooks:
      - id: commitizen
        stages:
          - "commit-msg"
-   repo: https://github.com/executablebooks/mdformat
    rev: "1.0.0"
    hooks:
      - id: mdformat
        additional_dependencies:
          - "mdformat-gfm"
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.15.1"
    hooks:
      - id: ruff-check
        args: ["--fix", "--ignore", "D"]
      - id: ruff-format
