ci:
    autofix_commit_msg: |
        style(pre-commit.ci): auto fixes from pre-commit hooks

        for more information, see https://pre-commit.ci
    autoupdate_branch: ''
    autoupdate_commit_msg: 'ci(deps): pre-commit autoupdate'
    autoupdate_schedule: weekly
    skip:
      - "ruff"
      - "poetry-lock"
default_language_version:
  python: python3.12
default_stages:
  - "pre-commit"
default_install_hook_types:
  - "pre-commit"
  - "commit-msg"
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: '^(.+\.md|LICENSE)$'
      - id: mixed-line-ending
        args:
          - "--fix=lf"
      - id: check-toml
      - id: check-yaml
      - id: check-ast
-   repo: https://github.com/python-poetry/poetry
    rev: "1.8.0"
    hooks:
      - id: poetry-check
      - id: poetry-lock
        files: "^(pyproject.toml|poetry.lock)$"
        always_run: false
        args: ["--no-update"]
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v3.31.0
    hooks:
      - id: commitizen
        stages:
          - "commit-msg"
-   repo: https://github.com/executablebooks/mdformat
    rev: "0.7.19"
    hooks:
      - id: mdformat
        additional_dependencies:
          - "mdformat-gfm"
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.8.0"
    hooks:
      - id: ruff-format
      - id: ruff
