name: "build app executable"
on:
  workflow_call:
permissions:
  contents: read

jobs:
  build_windows:
    runs-on: windows-2025
    strategy:
      fail-fast: false
      matrix:
        arch:
          - x86_64
          - x86

    steps:
      - name: checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 'cpython-3.12-windows-${{ matrix.arch }}'
      - name: Install dependencies
        run: uv sync --frozen --no-dev --group build --group test
      - name: run tests
        run: uv run -m pytest --cov
      - name: compile translations
        run: uv run setup.py compile_catalog
      - name: Build executable
        run: uv run -m cx_Freeze build_exe
      - name: get variables
        id: get_variables
        run: |
          $version = (uv run -m setuptools_scm)
          echo version_number=$version >> $env:GITHUB_OUTPUT
          if ("${{ matrix.arch }}" -eq "x86_64") {
            echo arch="x64" >> $env:GITHUB_OUTPUT
          } else {
            echo arch="x86" >> $env:GITHUB_OUTPUT
          }
      - name: build windows installer
        uses: Minionguyjpro/Inno-Setup-Action@v1.2.7
        with:
          path: .\win_installer.iss
          options: |
            /O+
            /DAppArch=${{ steps.get_variables.outputs.arch }}
            /DMyAppVersion=${{ steps.get_variables.outputs.version_number }}
      - name: create user config file for portable version
        run: |
          New-Item -Path dist -Name user_data -ItemType directory
          New-Item -Path dist\user_data -Name config.yml -ItemType file
          echo "general:" >> dist\user_data\config.yml
          echo "  language: auto" >> dist\user_data\config.yml
          echo "  log_level: info" >> dist\user_data\config.yml

      - name: create and upload portable zip
        uses: actions/upload-artifact@v6
        with:
          name: portable_basiliskLLM_${{ steps.get_variables.outputs.version_number }}_${{ runner.os }}_${{ steps.get_variables.outputs.arch }}
          path: dist/*
          if-no-files-found: error
          retention-days: 30
      - name: upload installer
        uses: actions/upload-artifact@v6
        with:
          name: setup_basiliskLLM_${{ steps.get_variables.outputs.version_number }}_${{ runner.os }}_${{ steps.get_variables.outputs.arch }}
          path: output_setup/*
          if-no-files-found: error
          retention-days: 30
