name: "localization"
on:
  workflow_call:
    inputs:
      branch_name:
        type: string
        description: "Branch name"
        default: "master"
    secrets:
      CROWDIN_TOKEN:
        required: true
        description: "Crowdin personal API token"
      CROWDIN_PROJECT_ID:
        required: true
        description: "Crowdin project ID"

jobs:
  generate_pot:
    runs-on: windows-latest
    permissions:
      contents: read
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: setup uv
        uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: uv sync --frozen --no-dev --group build
      - name: build POT file
        run: uv run setup.py extract_messages
      - name: upload POT file
        uses: actions/upload-artifact@v4
        with:
          name: basiliskLLM.pot
          path: basiliskLLM.pot
          if-no-files-found: error
          retention-days: 30

  upload_on_crowdin:
    runs-on: ubuntu-latest
    needs: [generate_pot]
    if: ${{ inputs.branch_name == 'master' }}
    permissions:
      contents: read
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: download translations template artifact
        uses: actions/download-artifact@v5
        with:
          name: basiliskLLM.pot
          path: ./translations
      - name: move translations template
        run: |
          mv translations/basiliskLLM.pot .
          rm -rf translations
      - name: upload on crowdin
        uses: crowdin/github-action@v2
        with:
          upload_sources: true
          upload_translations: true
          config: "./crowdin.yml"
        env:
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_TOKEN }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
