name: "localization"
on:
  workflow_call:
    inputs:
      branch_name:
        type: string
        description: "Branch name"
        required: true
        default: "master"
    secrets:
      CROWDIN_TOKEN:
        required: true
        description: "Crowdin personal API token"
      CROWDIN_PROJECT_ID:
        required: true
        description: "Crowdin project ID"

jobs:
  generate_pot:
    runs-on: windows-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: install poetry
        uses: abatilo/actions-poetry@v3
      - name: cache virtualenv
        uses: actions/cache@v4
        with:
          path: ./.venv
          key: ${{ runner.os }}_x64_poetry_${{ hashFiles('poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}_x64_poetry_

      - name: Install dependencies
        run: poetry install --no-interaction --no-root
      - name: build POT file
        run: poetry run python setup.py extract_messages
      - name: upload POT file
        uses: actions/upload-artifact@v4
        with:
          name: basiliskLLM.pot
          path: basiliskLLM.pot
          if-no-files-found: error
          retention-days: 30

  upload_on_crowdin:
    runs-on: ubuntu-latest
    needs: [generate_pot]
    if: ${{ inputs.branch_name == 'master' }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: download translations template artifact
        uses: actions/download-artifact@v4
        with:
          name: basiliskLLM.pot
          path: ./translations
      - name: move translations template
        run: |
          mv translations/basiliskLLM.pot .
          rm -rf translations
      - name: upload on crowdin
        uses: crowdin/github-action@v2
        with:
          upload_sources: true
          upload_translations: true
          config: "./crowdin.yml"
        env:
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_TOKEN }}
          CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
