name: "ruff"
on:
  workflow_call:

permissions:
  contents: read

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: run ruff
        uses: astral-sh/ruff-action@v3
        with:
          version: "latest"
